html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all .5s linear;
  position: absolute;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  left: 3em;
  bottom: 3em;
}

.polaroid:hover {
  transform: rotate(30deg);
  z-index: 50;
  box-shadow: 3px 3px 3px;
}

.polaroid:first-child {
  z-index: 3;
  transform: rotate(30deg);
  left: 30%;
  top: 50%;
}

.polaroid:nth-child(2) {
  z-index: 3;
  transform: rotate(30deg);
  left: 30%;
  top: 50%;
}

.polaroid:nth-child(3) {
  z-index: 3;
  transform: rotate(30deg);
}
