html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all .5s linear;
  position: absolute;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  left: 5em;
  bottom: 1em;
}

.polaroid:first-child {
  z-index: 1;
  transform: rotate(-10deg);
  left: 20%;
  top: 100px;
}

.polaroid:nth-child(2) {
  z-index: 3;
  transform: rotate(5deg);
  left: 30%;
  top: 150px;
}

.polaroid:nth-child(3) {
  z-index: 2;
  transform: rotate(20deg);
  left: 40%;
  top: 100px;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 100;
  box-shadow: 3px 12px 18px rgba(0, 0, 0, .5);
}
